
old/

tags

nbproject/
mem.json
test/
tmp/
plan/

# compiled files
*.css
*.css.map
*.js
*.xcf

.*
!.gitignore

env*

# lib
bower_components/
vendor/
node_modules/

# secret keys
config/keys.php
composer.lock

