@charset utf-8;

#eyecatch {
    background: #5f5;
    padding: 30px;
    height: 500px;

    #topcircle {
        height: 450px;
        width: 450px;
        background: white;
        border-radius: 50%;
        margin: 0px auto;
        text-align: center;
    }
}
